body {
  /*make lighter color*/
  background-color: #C7DBE6;
  font-family: monospace;
  color: #071108;
}

.grocery {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.rounded {
  padding: 10px;
  border-radius: 10px;
}

#grocery {

}

/*unordered list*/
#list {
  list-style-type: none;
  text-align: left;
}

/*list items */
.listItem {
  position: relative;
}

.deleteBtn {
  background-color: #1B4965;
  border: none;
  color: white;
  float: right;
}

#addItemBtn {
  background-color: #1B4965;
  border: none;
  color: white;
}

#clearListBtn {
  background-color: #1B4965;
  border: none;
  color: white;
}
